{{!-- <p>Welcome {{user.firstName}}, this is your dashboard</p> --}}



{{! Formulaire de recherche d'artistes dans l'API }}

<form class="artist-form" action="/dashboard" method="GET">
  <input class="type-artist-name" type="text" name="artist" value="{{queryname}}" placeholder="TYPE ARTIST NAME HERE" autocomplete="off">
  <button class="search-button" type="submit">Search</button>
</form>
<p class="errorMessage">{{messageFollow}}</p>


{{! Résultats des artistes trouvés par rapport à la queryname }}


<ul   style="list-style: none" class="searchbarResults";
>
  {{#each artistsfound}}
  <li>
    <form action="/dashboard" method="POST">
      <input type="hidden" name="artistid" value={{id}}>
      <button class="searchbarArtists" >{{name}}</button>
    </form>
  </li>
  {{/each}}
</ul>



{{! ----------- Artists que je follow déjà ----------- }}

<table>

  <thead>
    <tr>
      <th></th>
      <th class="spotify-followers table-item">Spotify <br> followers</th>
      <th class="spotify-popularity table-item">Spotify <br> popularity score</th>
      <th class="spotify-listeners table-item">Listeners <br> last month</th>
      <th class="deezer-followers table-item">Deezer <br> followers</th>
      <th class="deezer-popularity table-item">Deezer <br> popularity score</th>
      </div>
    </tr>
  </thead>


  <tbody>
    {{#each myartists}}
    <tr>
      <td>
        <div class="artist-column">
          <div class="artist-pic-container "><img class="artist-pic" src="{{image}}">
          </div>
          <div class="artist-info-container">
            <div class="artist-name">{{artistName}}</div>
            <div class="genre-name">{{genre}}</div>
          </div>
        </div>
      </td>
      <td>{{#each datas}}{{#if @last}}{{format spotifyFlws}}{{/if}}{{/each}}</td>
      <td>{{#each datas}}{{#if @last}}{{spotifyPopularityScore}}/100{{/if}}{{/each}}</td>
      <td>xx</td>
      <td>xx</td>
      <td>xx</td>
    </tr>
 {{/each}}